<main>

    <div class="row">

        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web API</h2>
            <p></p>
            <p><a href="https://localhost:44342/Api/Employees">GetAllEmployee</a></p>
        </section>>
    </div>
</main> 